<!DOCTYPE html>
<html>
  <head>
    <title>Application Submitted</title>

  </head>
  <body>
    <h1 text-align:0px,0px,0px,0px>Application Submitted</h1>
    <h3>Sitare University has received your application for the role of {{job["title"]}}. We will contact you soon!</h3><br><br>
    <b>Full Name: </b>
    <div>{{application["Full_name"]}}</div><br>

    <b>Email:</b>
    <div>{{application["Email"]}}</div><br>
  <b>LinkedIn:</b>
  <div>{{application['LinkedIn']}}</div><br>

  <b>Phone:</b>
    <div>{{application["Phone"]}}</div><br>
    <b>Country</b>
    <div>{{application["Country"]}}</div><br>

  </body>
</html>
